body {
}

.accordionContainer {
   width: 819px;
   height: 500px;
   background: white;
   margin: 0 auto;
   box-shadow: 0px 0px 4px -1px;
   position: relative;
}
.accordion {
    
    width: 5%;
    height: 500px;
    float: right;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px -1px;
    text-align: center;
    background: rgb(4, 172, 235);
}



.selectedSmall {
    width: 450px;
    height: 500px;
    background: white;
}

.fa-arrow-circle-o-left {
    position: relative;
    top: 90%;
    left: 25%;
   
}
.fa-arrow-circle-o-right {
    position: relative;
    top: 90%;
    left: 40%;
    display: none;

}
.fa-times-circle-o {
    top: -2%;
    position: relative;
    left: 40%;
}
.fa-arrow-circle-o-left:hover {
    color: grey;
}
.fa-arrow-circle-o-right:hover {
    color: grey;
}
.fa-times-circle-o:hover {
     color: rgb(247, 247, 247);
}